@font-face {
    font-family: StardustAdventure;
    src: url('fonts/StardustAdventure.ttf');
}
body {
    height: 1000px;
    background-image: linear-gradient(pink, plum, blueviolet);
}
h1, h2, h3 {
    color: white;
    font-size: 50px;
    visibility: visible;
    font-weight: bold;
    text-align: left;
    font-family: StardustAdventure, sans-serif;
}
h1 {
    text-transform: capitalize;
    font-size: 100px;
}
h1:hover {
    box-shadow: 10px 10px 8px blueviolet;
}
img {
    box-shadow: 10px 10px blueviolet;
    border-radius: 10px;
    object-fit: cover; 
}
li {
    display: block;
}
section {
    display: none;
    visibility: hidden;
}
table {
    color: blueviolet;
    border-color: blueviolet;
    border-width: 2px;
    border-style: inset;
    border-radius: 10px;
    background-image: url('images/flowers.jpg');
    background-clip: border-box;
}
.contactNav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}
.email-address:before {
    content: "Email address: ";
}
.interestNav li {
    display: inline;
    font-size: 20px;
    padding: 20px;
}
.nav {
    list-style-type: circle;
    list-style-position: outside;
    list-style-image: none;
}
.phoneImage {
    transform: rotate(15deg);
    float: right;
}
.profile {
    filter: grayscale(100%);
}
#form {
    background-image: linear-gradient(lightpink, plum);
    border-image: url('/images/borderImg.png') 30 round;
    border-width: 10px;
}
@font-face {
    font-family: "Stardust Adventure", "Delighter Script";
    src: url("/fonts/StardustAdventure.ttf") format("ttf"),
    url("/fonts/Delighter.otf") format("otf");
}
img + p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    clear: both;
}
h1 ~ p {
    line-height: normal;
}
ul > li {
    list-style-type: circle;
    list-style-position: outside;
    list-style-image: none;
}
div p {
    font-size: 18px;
}
p::first-letter {
    font-size: large;
}